.bodycss{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #606061;
}
.fromheader{
    background-color: #343a40;
    width: 100%;
    height: 72px;


}
.xcontainer{
    width: 1116px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;


}
.container{
    display: flex;
    width: 1116px;
    height: 40px;
    margin: 0;
    padding: 0;
    justify-content:left;
    align-items: center;

}
.container1{
    height: 40px;
}
.container2{
    display: flex;
    padding-left: 0;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #DDD;
}
.imgclass{
    height: 38px;
    width: 140px;
    
}
.noticecss{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 54.6px;
}
.noticecss1{
    border-radius: 5px;
    color: red;
    font-size: 14px;
    width: 1116px;
    height: 38.6px;
    margin: auto !important;
    text-align: center;
    background-color: #343a40;
}
.noticecss2{
    padding: 8px;
}
.a1{
    color: #F8F9Fa;
    text-decoration: none;

}
.foot_content_wrapper{
    font-size: 14px;
    text-align: center;
    color:#DDD;
}
.hover-text{
    color: red;
}